/* Selector Universal */

* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta  */
body {

    background-color: white;
    color: white;

}

/* Selector de ID */
#Contenedor {
    width: 900px;
    height: 1000px;
    background-color: #dee0b7;

}

#encabezado {
    width: 70%;
    background-color;
    color: black;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}

#menu {

    height: 4%;
    
    color: black;
    margin: 1em;
    border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {

    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {


    text-decoration: none;
    list-style: none;
}

.texto {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: black;

}

#contenido {
    height: 80%;
    width: 58%;
    background-color: white;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;

}

.img {

    width: 30%;
    border-radius: 30px;
    justify-items: center;

}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    
    color: black;
    margin: 1em 2em;
    border-radius: 5px;
}

#fueraSeccion {
    height: 950px;
    width: 35%;
    
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: black;
}

.lista-aside {
    padding: 20px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 0 2px;
    color: black;
}

#pie {
    height: 3px;
    background-color:  #a4b4bb;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
    background-color: #a4b4bb;
}
.{
    width: 10%;
    border-radius: 30px;
    justify-items: center;
}